.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    background-color: #f3969a !important;
    border-color: #f3969a;
}

.btn-group {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.img-circle {
    max-height: 50px;
}